.verde{
    height: 100px;
    width: 350px;
    background-color:rgba(128, 255, 0, 0.329);
    top: 100px;
    left: 100px;
    position: absolute;
}
.azul{
    height: 300px;
    width: 150px;
    background-color:rgba(47, 0, 255, 0.479);
    top: 500px;
    left: 500px;
    position: absolute;
    bottom: 10px;
}
.rojo{
    height: 200px;
    width: 220px;
    background-color:rgba(197, 39, 52, 0.664);
    top: 300px;
    left: 380px;
    position: absolute;
    bottom: 110px;
}
.amarillo{
    height: 550px;
    width: 130px;
    background-color:rgba(207, 235, 48, 0.322);
    top: 200px;
    left: 250px;
    position: absolute;
    bottom: 400px;
}