body{
    margin:0 px;
}

div.grupito{
    width: 700px;
    height: 300px;
    margin: auto;
}
.cuadrito{
    height: 280px;
    width: 220px;
    background-color: aquamarine;


}
div.menu{
    margin-left: 550px;
}
li{
    margin:5px;
}
ul{
    margin-top: 0px;
}